<section class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
      <div class="mx-auto max-w-3xl text-center">
        <h2 class="text-2xl font-semibold text-gray-800  lg:text-4xl ">Descubre Nuestra Esencia Legal: Compromiso, Pasión y Justicia </h2>
  
        <p class="mt-4 text-gray-500 sm:text-xl">
            En nuestro compromiso continuo con la excelencia legal y la defensa apasionada de los derechos, hemos establecido una base sólida de valores que guían cada aspecto de nuestro trabajo. Descubre nuestra visión, misión y principios fundamentales que nos impulsan a ofrecer servicios legales excepcionales a nuestros clientes.
        </p>
      </div>
  
      <div class="mt-8 sm:mt-12">
        <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
          <div class="flex flex-col rounded-lg bg-primary-50 px-4 py-8 text-center items-center">
            <img class=" w-24" src="https://chipanacatalan.com/wp-content/uploads/2023/04/vision-chipana-catalan.png" alt="">
            <dt class="text-lg font-bold text-gray-500">Vision</dt>
            <p class=" text-base px-5" style="color:grey">Ser un estudio de abogados líder en el patrocinio de litigios judiciales civiles y arbitrales.</p>					
        </div>
        
        <div class="flex flex-col rounded-lg bg-primary-50 px-4 py-8 text-center items-center">
              <img class=" w-24" src="https://chipanacatalan.com/wp-content/uploads/2023/04/mision-chipana-catalan.png" alt="">
              <dt class="text-lg font-bold text-gray-500">Mision</dt>
              <p class=" text-base px-5" style="color:grey">Brindar asesoría legal especializada que responda de manera eficaz y pronta a las necesidades particulares de nuestros clientes.</p>
              
            </div>
            
            <div class="flex flex-col rounded-lg bg-primary-50 px-4 py-8 text-center items-center">
              <img class=" w-24" src="https://chipanacatalan.com/wp-content/uploads/2023/04/valores-chipana-catalan.png" alt="">
              <dt class="text-lg font-bold text-gray-500">Valores</dt>
              <p class="text-base px-5" style="color:grey">Integridad, profesionalismo, experiencia, pasión.</p>		  
          </div>
        </dl>
      </div>
    </div>
  </section>