---
interface Props {
	title: string;
}

const { title} = Astro.props;
---

<section class="bg-primary-980 md:py-20">
    <div  class="container px-6 py-16 mx-auto">
        <div  class="items-center lg:flex justify-center ">
            <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/3 mr-10 mb-10 md:mb-0">
                <img class="w-full h-full lg:max-w-3xl" src="https://chipanacatalan.com/wp-content/uploads/2023/04/Diseno-sin-titulo-2.jpg" alt="">
            </div>
            <div  id="elemeto1" class="w-full lg:w-1/3">
                <div class="lg:max-w-lg">
                    <h1 class="text-3xl font-semibold text-white  lg:text-4xl"> {title}</h1>
                    <hr class=" w-32 h-1 bg-primary-450 rounded-full  my-5">
                    <p > 
                        Contamos con un staff de asistentes legales altamente capacitados, el mismo que se distingue por su calidad humana, profesionalismo, compromiso y capacidad para brindar a nuestros clientes un servicio legal de calidad.
                    </p>    
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .bg-primary-450 {
        background-color: #E58E52;
    }
    #elemeto1 {
        animation-duration: 3s;
        animation-name: slidein;
    }
    @keyframes slidein {
        from {
            opacity: 0;
            transform: translateX(50%);
        }

        to {
            opacity: 1;
            transform: translateX(0%);
        }
    }
</style>