---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Carousel from '../components/Carousel.tsx';
import Areas from '../components/Areas.astro';
import StatsBlock from '../components/StatsBlock.tsx';
import Testimonials from '../components/Testimonials.astro';
import Questions from '../components/Servicios.astro';
import Companys from '../components/Companys.astro';
---

<Layout title="SuperaAbogados">
	<main>
		<div class="mb-2 md:mb-8">
			<Carousel client:visible />
		</div>	
		<Areas />
		<StatsBlock />
		<Testimonials />
		<Questions />
		<Companys />
	</main>
</Layout>

<style>
	html, body {
		overflow-x: hidden;
	}
	main {
		margin: 0;
		padding: 0;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}


	
</style>
