---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Laboral">
	<main>
        <div class="contenedor ">
			<div class="parallax-img"></div>
			<div class="filtro-oscuro"></div>
			<div class="texto">
				<p>Laboral</p>
			</div>
		</div>	
        <section class="bg-primary-980 text-gray-100">
            <div class="container max-w-xl p-6 py-12 mx-auto space-y-24 lg:px-8 lg:max-w-7xl">
                <div>
                    <h2 class="text-3xl font-bold tracki text-center sm:text-5xl text-gray-50">Servicios Legales Laborales</h2>
                    <p class="max-w-3xl mx-auto mt-4 text-xl text-center text-gray-400">En Supera Abogados, reconocemos la importancia del derecho penal en la sociedad y la vida de las personas. 
                    </p>
                </div>
                <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
                    <div>
                        <h3 class="text-2xl font-bold tracki sm:text-3xl text-gray-50">Litigios</h3>
                        <p class="mt-3 text-lg text-gray-400">Nos dedicamos a proporcionar un asesoramiento legal personalizado y eficaz en asuntos penales. Con un equipo altamente profesional y comprometido, respaldado por una amplia experiencia en el campo del derecho penal, nuestro objetivo es proteger tus derechos y brindarte la mejor defensa posible en cada etapa del proceso legal penal. Tu tranquilidad y justicia son nuestra prioridad.</p>
                        <div class="mt-12 space-y-12">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center w-12 h-12 rounded-md bg-primary-450 text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leadi text-gray-50">USURPACIÓN </h4>
                                    <p class="mt-2 text-gray-400">Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.</p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center w-12 h-12 rounded-md bg-primary-450 text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leadi text-gray-50">ESTAFA</h4>
                                    <p class="mt-2 text-gray-400">Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.</p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center w-12 h-12 rounded-md bg-primary-450 text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leadi text-gray-50">VIOLACIÓN</h4>
                                    <p class="mt-2 text-gray-400">At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.</p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center w-12 h-12 rounded-md bg-primary-450 text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leadi text-gray-50">DENUNCIAS</h4>
                                    <p class="mt-2 text-gray-400">At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-hidden="true" class="mt-10 lg:mt-0">
                        <img src="https://source.unsplash.com/random/720x960" alt="" class="mx-auto rounded-lg shadow-lg bg-gray-500">
                    </div>
                </div>
               
            </div>
        </section>
	</main>
</Layout>

<style>
	html, body {
		overflow-x: hidden;
	}
	main {
		margin: 0;
		padding: 0;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.contenedor {
        position: relative;
        width: 100%;
        height: 500px; 
        overflow: hidden;
    }

    .parallax-img {
        width: 100%;
        height: 100%;
        background-image: url('https://chipanacatalan.com/wp-content/uploads/2023/04/4.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .filtro-oscuro {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Ajusta el valor de opacidad según tu preferencia */
    }

    .texto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        text-align: center;
        color: white; /* Color del texto */
        font-size: 1.7em; /* Tamaño del texto */
    }
   
	
</style>

