---
import Layout from '../layouts/Layout.astro';
import ImgHeader from '../components/home/image_head.astro';
import SecRight from '../components/about_us/seccion_right.astro';
import SecLeft from '../components/about_us/seccion_left.astro';
import MisionVision from '../components/about_us/mision_vision.astro';


---

<Layout title="Nosotros">
	<main>
        <ImgHeader />
        <SecRight title='Sobre Nosotros'  />
		<SecLeft title='Sobre el Estudio'  />
		<MisionVision />
		
	</main>
</Layout>

<style>
	html, body {
		overflow-x: hidden;
	}
	main {
		margin: 0;
		padding: 0;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}


   
	
</style>
