<section class="bg-white ">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-2xl text-center text-gray-800 capitalize lg:text-3xl  font-bold"><span class="text-primary-450"> Explora <br> nuestros Servicios</span></h1>

        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3">
            <div  class="cuadrado flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl">
                <span class="inline-block p-3  rounded-full dark:text-white dark:bg-primary-450">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4c0 1.1.9 2 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.8-3.1a5.5 5.5 0 0 0-2.8-6.3c.6-.4 1.3-.6 2-.6a3.5 3.5 0 0 1 .8 6.9Zm2.2 7.1h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1l-.5.8c1.9 1 3.1 3 3.1 5.2ZM4 7.5a3.5 3.5 0 0 1 5.5-2.9A5.5 5.5 0 0 0 6.7 11 3.5 3.5 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4c0 1.1.9 2 2 2h.5a6 6 0 0 1 3-5.2l-.4-.8Z" clip-rule="evenodd"/>
                      </svg>
                      
                </span>

                <h1 class="text-xl font-semibold text-gray-700 capitalize">Derecho Civil</h1>

                <p class="text-gray-500 ">
                    Especializados en diversos aspectos del Derecho civil , incluyendo Familia, Divorcios, Conciliaciones, Asesoría en compra y venta de inmuebles, Trámites de extranjería, Deudas bancarias y Redacción de Minutas.
                </p>

                <a href="#" class="flex items-center -mx-1 text-sm text-primary-450 capitalize transition-colors duration-300 transform dark:text-primary-400 hover:underline hover:text-primary-600 dark:hover:text-primary-450">
                    <span class="mx-1">más información</span>
                    <svg class="w-4 h-4 mx-1 rtl:-scale-x-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>

            <div class="cuadrado flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl">
                <span class="inline-block p-3  rounded-full dark:text-white dark:bg-primary-450">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M12 4a1 1 0 1 0 0 2 1 1 0 0 0 0-2Zm-3 .5a4 4 0 0 0-1.1.7 6 6 0 0 0-1 1c-.2.3-.3.5-.6.6A3 3 0 0 1 5 7a1 1 0 1 0 0 2h1v.3l-1.9 4.2v.1A1.8 1.8 0 0 0 5.8 16h2.4a1.8 1.8 0 0 0 1.7-2.5L8 9.3V8a4.7 4.7 0 0 0 .7-.7c.1-.3.3-.4.5-.6l.2-.2c.4.6 1 1 1.6 1.3V20H5.5a1 1 0 1 0 0 2h13a1 1 0 1 0 0-2H13V7.8a3 3 0 0 0 1.6-1.4l.5.3.9.8v1.8l-1.9 4.2v.1a1.8 1.8 0 0 0 1.7 2.4h2.4a1.8 1.8 0 0 0 1.7-2.5L18 9.3V9l1 .1a1 1 0 1 0 0-2c-.5 0-.7-.1-.9-.2a3 3 0 0 1-.7-.6L16.3 5l-1.4-.7a3 3 0 0 0-5.9 0Z" clip-rule="evenodd"/>
                      </svg>
                      
                      
                </span>

                <h1 class="text-xl font-semibold text-gray-700 capitalize ">Derecho Penal</h1>

                <p class="text-gray-500 ">
                    Nos distinguimos por la experiencia en Desalojos, Acciones contra la perturbación de inmuebles, 
                    Acciones contra la posesión de bienes, Nulidad de títulos, Fraudes, 
                    y  Abuso de Autoridad. 
                 

                </p>

                <a href="#" class="flex items-center -mx-1 text-sm text-primary-450 capitalize transition-colors duration-300 transform dark:text-primary-400 hover:underline hover:text-primary-600 dark:hover:text-primary-450">
                    <span class="mx-1">más información</span>
                    <svg class="w-4 h-4 mx-1 rtl:-scale-x-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>

            <div class="cuadrado flex flex-col items-center p-6 space-y-3 text-center bg-gray-100 rounded-xl ">
                <span class="inline-block p-3  rounded-full dark:text-white dark:bg-primary-450">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M3 21h18M4 18h16M6 10v8m4-8v8m4-8v8m4-8v8M4 9.5v-1c0-.3.2-.6.5-.8l7-4.5a1 1 0 0 1 1 0l7 4.5c.3.2.5.5.5.8v1c0 .3-.2.5-.5.5h-15a.5.5 0 0 1-.5-.5Z"/>
                      </svg>
                </span>

                <h1 class="text-xl font-semibold text-gray-700 capitalize">Derecho Laboral</h1>

                <p class="text-gray-500 ">
                    En el ámbito Laboral, ofrecemos servicios en
                    Revisión de contratos y Desnaturalización de contratos, 
                    Despidos arbitrarios, Accidentes de trabajo, Indemnizaciones, Jubilación,
                    Asesoria a Recursos Humanos, Acoso laboral.                
                </p>

                <a href="#" class="flex items-center -mx-1 text-sm text-primary-450 capitalize transition-colors duration-300 transform dark:text-primary-400 hover:underline hover:text-primary-600 dark:hover:text-primary-450">
                    <span class="mx-1">más información</span>
                    <svg class="w-4 h-4 mx-1 rtl:-scale-x-100" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bg-gray-100 dark:bg-secondary-900 lg:py-12 lg:flex lg:justify-center">
    <div
        class="overflow-hidden bg-white dark:bg-secondary-800 lg:mx-8 lg:flex lg:max-w-6xl lg:w-full lg:shadow-md lg:rounded-xl">
        <div class="lg:w-1/2">
            <div class="h-64 bg-cover lg:h-full" style="background-image:url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')"></div>
        </div>

        <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
            <h2 class="text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl">
                Derecho <span class="text-primary-400">Corporativo</span>
            </h2>

            <p class="mt-4 text-gray-500 dark:text-gray-300">
                Asesoría en Fusiones y Adquisiciones: Apoyo en procesos de fusiones, adquisiciones y reestructuraciones empresariales.
                <br>
                <br>
                Gobierno Corporativo: Asesoramiento en la implementación y desarrollo de prácticas de gobierno corporativo efectivas, incluyendo la creación de comités, estructuras de toma de decisiones, y cumplimiento normativo.
            </p>

            <div class="inline-flex w-full mt-6 sm:w-auto">
                <a href="#" class="inline-flex items-center justify-center w-full px-6 py-2 text-sm text-white duration-300 bg-primary-450 rounded-lg hover:bg-gray-700 focus:ring focus:ring-gray-300 focus:ring-opacity-80">
                    más información
                </a>
            </div>
        </div>
    </div>
</section>
<section class="bg-white ">
    <div class="container px-6 py-16 mx-auto">
        <div class="items-center lg:flex">
            <div class="w-full lg:w-1/2">
                <div class="lg:max-w-lg">
                    <h1 class="text-3xl font-semibold text-gray-800  lg:text-4xl">Derecho de  <br>  <span class="text-primary-450 ">Comunidades campesinas</span></h1>
                    
                        <ul class="mt-3 text-gray-600 ml-10 lg:ml-0" style=" list-style-type: disc">
                            <li>Inscripción de Actos y Derechos de las comunidades.</li>
                            <li>Modificaciones parciales o totales del estatuto.</li>
                            <li>Instalación y ejecución de Mesas de Diálogo.</li>
                            <li>Constitución de comunidad.</li>
                            <li>Saneamiento de Predios.</li>
                            <li>Inscripción de Predios a SUNARP.</li>
                            <li>Control de Prescripciones.</li>
                            <li>Revisión y Negociación de contratos comunales y/o de licitación pública.</li>
                            <li>Proyectos de Gestión por Lineamientos Comunales.</li>
                            <li>Desarrollo de Convenios Marco.</li>
                        </ul>
                          
                    
                    <button class="w-full px-5 py-2 mt-6 text-sm tracking-wider text-white uppercase transition-colors duration-300 transform bg-primary-450 rounded-lg lg:w-auto hover:bg-primary-500 focus:outline-none focus:bg-blue-500"> más información</button>
                </div>
            </div>

            <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
                <img class="w-full h-full lg:max-w-3xl" src="./campesinos.svg" alt="Catalogue-pana.svg">
            </div>
        </div>
    </div>

</section>

<style>
    .cuadrado:hover {
      transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) scale3d(1, 1, 1);
    }
</style>