<div class="flex mx-auto justify-center items-center w-full">
    <div class="column flex flex-col text-right  z-10 " style="margin-right: -30px;">
        <div class="flex justify-end mb-10">
            <div class="mr-5 w-1/2">
                <h3>Family Law</h3>
                <p>Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.</p>
            </div>
           <div class=" bg-orange-300">
            <img class=" px-5 py-5 w-30" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-5.png">
           </div>
        </div>
        <div class="flex justify-end mb-10">
            <div class="mr-5 w-1/2">
                <h3>Property Law</h3>
                <p>Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.</p>
            </div>
           <div class=" bg-orange-300">
            <img class=" px-5 py-5 w-30" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-1.png">
           </div>
        </div>
        <div class="flex justify-end mb-10">
            <div class="mr-5 w-1/2">
                <h3>Immigration Law</h3>
                <p>Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.
                    </p>
            </div>
           <div class=" bg-orange-300">
            <img class=" px-5 py-5 w-30" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-4.png">
           </div>
        </div>
    </div>
    <div class=" w-2/12">
       <img class="" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/bronze-statuette-with-scales-of-justice-isolated-o-253MJCL.jpg" alt="img" >
    </div>
    <div class="column flex flex-col text-left " style="margin-left: -30px;">
        <div class="flex justify-start mb-10">
            <div class=" bg-orange-300">
                <img class=" px-5 py-5 w-30" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-6.png">
            </div>
            <div class="ml-5 w-1/2">
                <h3>Personal Injury</h3>
                <p>Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.</p>
            </div>
        </div>
        <div class="flex justify-start mb-10">
            <div class=" bg-orange-300">
                <img class=" px-5 py-5 w-30" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-2.png">
            </div>
            <div class="ml-5 w-1/2">
                <h3>Civil Litigation</h3>
                <p>Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.</p>
            </div>
        </div>
        <div class="flex justify-start mb-10">
            <div class=" bg-orange-300">
                <img class=" px-5 py-5 w-30" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-7.png">
            </div>
            <div class="ml-5 w-1/2">
                <h3>Corporate Law</h3>
                <p>Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.</p>
            </div>
        </div>
    </div>
   
</div>