
<div class="flex mx-auto justify-center items-center w-full flex-col lg:flex-row xl:flex-row">
    <div id="izquierda" class="column flex flex-col text-right z-10 " >
        <div class="flex justify-end mb-10 items-center mr-8 lg:mr-0 xl:mr-0 ">
            <div class="mr-5 xl:w-1/2 lg:w-2/4">
                <h3 class="text-secondary-300">Family Law</h3>
                <p class="text-sm xl:text-base">Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.</p>
            </div>
            <div class="bg-secondary-300 xl:w-20 lg:w-16 flex items-center justify-center h-16 w-20">
                <img class="lg:w-8 h-auto " src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-5.png">
            </div>
        </div>             
        <div class="flex justify-end mb-10 items-center mr-8 lg:mr-0 xl:mr-0 ">
            <div class="mr-5 xl:w-1/2 lg:w-2/4">
                <h3 class="text-secondary-300">Property Law</h3>
                <p class="text-sm xl:text-base">Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.</p>
            </div>
            <div class="bg-secondary-300 xl:w-20 lg:w-16 flex items-center justify-center h-16 w-20">
            <img class="lg:w-8 h-auto " src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-1.png">
           </div>
        </div>
        <div class="flex justify-end mb-10 items-center mr-8 lg:mr-0 xl:mr-0 ">
            <div class="mr-5 w-1/2">
                <h3 class="text-secondary-300">Immigration Law</h3>
                <p class="text-sm xl:text-base">Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.</p>
            </div>
            <div class="bg-secondary-300 xl:w-20 lg:w-16 flex items-center justify-center h-16 w-14">
            <img class="lg:w-8 h-auto " src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-4.png">
           </div>
        </div>
    </div>
    <div class=" xl:w-1/6 lg:w-4/12">
       <img class="" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/bronze-statuette-with-scales-of-justice-isolated-o-253MJCL.jpg" alt="img" >
    </div>
    <div id="derecha" class="column flex flex-col text-left z-10" >
        <div class="flex justify-start mb-10 items-center ml-8 lg:ml-0 xl:ml-0 ">
            <div class="bg-secondary-300 xl:w-20 lg:w-16 flex items-center justify-center h-16">
                <img class="lg:w-8 h-auto " src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-6.png">
            </div>
            <div class="ml-5 w-1/2">
                <h3 class="text-secondary-300">Personal Injury</h3>
                <p class="text-sm xl:text-base">Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.</p>
            </div>
        </div>
        <div class="flex justify-start mb-10 items-center ml-8 lg:ml-0 xl:ml-0">
            <div class="bg-secondary-300 xl:w-20 lg:w-16 flex items-center justify-center h-16">
                <img class=" lg:w-8 h-auto " src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-2.png">
            </div>
            <div class="ml-5 w-1/2">
                <h3 class="text-secondary-300">Civil Litigation</h3>
                <p class="text-sm xl:text-base">Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.</p>
            </div>
        </div>
        <div class="flex justify-start mb-10 items-center ml-8 lg:ml-0 xl:ml-0">
            <div class="bg-secondary-300 xl:w-20 lg:w-16 flex items-center justify-center h-16">
                <img class=" lg:w-8 h-auto " src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-7.png">
            </div>
            <div class="ml-5 w-1/2">
                <h3 class="text-secondary-300">Corporate Law</h3>
                <p class="text-sm xl:text-base">Duis rhoncus sodales ligula, eget port titor nulla pellen tesque bibendum.</p>
            </div>
        </div>
    </div>
   
</div>

<style>
    #izquierda{
        margin-right: -30px;
    }
    #derecha{
        margin-left: -30px; 
    }
    @media (max-width: 767px) {
        #izquierda, #derecha {
            margin-right: 0;
            margin-left: 0;
        }
    }
</style>