<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<a  href="https://wa.me/51961610362?text=Quisiera%20m%C3%A1s%20informacion"
    class="whatsapp"
    target="_blank">
    <i class="fa fa-whatsapp whatsapp-icon"></i>
</a>
<style>
    .whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#004C35;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}

.whatsapp:hover {
  background:#E58E52;
  color:#FFF;
  text-decoration:none;
}

@media (max-width: 767px) {
  .whatsapp {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 10px;
    font-size: 25px;
  }
}
</style>