<div class="bg-gray-50 py-16  mx-0" >
    <div class="max-w-7xl mx-auto px-0 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto text-center">
            <h2 class="text-3xl font-serif  text-secondary-400 sm:text-4xl  font-bold" >
                Sobre nuestros servicios
            </h2>
            <p class="mt-3 text-xl text-gray-500 sm:mt-4 ">
                Organic, genuine conversations with higher response rates than
                LinkedIn or cold email.
            </p>
        </div>
    </div>
    <div class="mt-10 pb-1">
        <div class="relative">
            <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
            <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="max-w-4xl mx-auto">
                    <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-4">
                        <div class="flex flex-col items-center border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
                            <img class="w-14" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-dark-1.png" alt="">
                            <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500 ">
                                Clientes satisfechos
                            </dt>
                            <dd class="order-1 text-5xl font-extrabold text-gray-700">500+</dd>
                        </div>
                        
                        <div class="flex flex-col items-center  border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r">
                            <img class="w-14" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-dark-2.png" alt="">
                            <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                                Casos ganados
                            </dt>
                            <dd class="order-1 text-5xl font-extrabold text-gray-700">58%</dd>
                        </div>
                        <div class="flex flex-col items-center border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
                            <img class="w-14" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-dark-3.png" alt="">
                            <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                                Abogados expertos
                            </dt>
                            <dd class="order-1 text-5xl font-extrabold text-gray-700">30+</dd>
                        </div>
                        <div class="flex flex-col items-center border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
                            <img class="w-14" src="https://kinforce.net/adwocat/wp-content/uploads/2023/06/law-icons-W55LGC-dark-4.png" alt="">
                            <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                                Casos descestimados
                            </dt>
                            <dd class="order-1 text-5xl font-extrabold text-gray-700">30+</dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>