---
import BtnWhatsapp  from '../components/layout/btn_whatsapp.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./favicon2.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.x.x/dist/alpine.min.js" defer></script>

		<script>
			// Burger menus
			document.addEventListener('DOMContentLoaded', function() {
				// open
				const burger = document.querySelectorAll('.navbar-burger');
				const menu = document.querySelectorAll('.navbar-menu');
			
				if (burger.length && menu.length) {
					for (var i = 0; i < burger.length; i++) {
						burger[i].addEventListener('click', function() {
							for (var j = 0; j < menu.length; j++) {
								menu[j].classList.toggle('hidden');
							}
						});
					}
				}
			
				// close
				const close = document.querySelectorAll('.navbar-close');
				const backdrop = document.querySelectorAll('.navbar-backdrop');
			
				if (close.length) {
					for (var i = 0; i < close.length; i++) {
						close[i].addEventListener('click', function() {
							for (var j = 0; j < menu.length; j++) {
								menu[j].classList.toggle('hidden');
							}
						});
					}
				}
			
				if (backdrop.length) {
					for (var i = 0; i < backdrop.length; i++) {
						backdrop[i].addEventListener('click', function() {
							for (var j = 0; j < menu.length; j++) {
								menu[j].classList.toggle('hidden');
							}
						});
					}
				}
			});
		</script>
	</head>
	<body>
		<header class="fixed top-0 right-0 border-gray-200 px-4 lg:px-6 py-4 dark:bg-0A4033 w-full fixed-header">
			<nav class="relative px-4 py-4 flex justify-between items-center bg-secondary-100  ">
				<a href="/" class="flex items-center ml-0 xl:ml-0  2xl:ml-40 ">
					<img
						src="./supera-cromo.svg"
						class="h-12 xl:h-20 "
						alt="Supera Logo"
					/>
				</a>
				<div class="lg:hidden">
					<button class="navbar-burger flex items-center text-texto-secondary p-5 ">
						<svg class="block h-4 w-4 fill-current " viewBox="0 0 20 20">
							<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
						</svg>
					</button>
				</div>
				
				<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6">
					<li><a class=" text-gray-400 hover:text-white" href="/">Inicio</a></li>
					<li class="text-gray-300">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
						</svg>
					</li>
					<li ><a class="text-gray-400 hover:text-white" href="/nosotros">Nosotros</a></li>
					<li class="text-gray-300">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
						</svg>
					</li>
					
					<!-- <li><a class="text-gray-400 hover:text-white" href="/blog">Publicaciones</a></li>
					<li class="text-gray-300">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
						</svg>
					</li> -->
					
					<li x-data="{ open: false }" @click.away="open = false" class="relative">
						<button @click="open = !open" class="flex items-center justify-between w-full py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">
							<span style="color:white">Servicios</span>
							<svg :class="{ 'transform rotate-180': open }" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 11.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
						</button>
						<div x-show="open" class="absolute z-10 w-500 max-w-xl py-2 mt-2 space-y-2 bg-white rounded-lg shadow-lg dark:bg-gray-800" x-transition:enter="transition transform duration-300 ease-out" x-transition:enter-start="opacity-0 -translate-y-2" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition transform duration-300 ease-in" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 -translate-y-3">
							<a href="/penal" class="block py-2 pl-3 text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:bg-gray-700 pr-20">Penal</a>
							<a href="/civil" class="block py-2 pl-3 text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:bg-gray-700">Civil</a>
							<a href="/laboral" class="block py-2 pl-3 text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:bg-gray-700">Laboral</a>
							<a href="/corporativo" class="block py-2 pl-3 text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:bg-gray-700">Corporativo</a>
						</div>
					</li>
					<li class="text-gray-300">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
						</svg>
					</li>
					<li><a class="text-gray-400 hover:text-white" href="/contacto">Contacto</a></li>
				</ul>
				<a class="hidden lg:hidden xl:ml-auto 2xl:mr-3 xl:mr-2 py-2 2xl:px-6 xl:px-2 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  xl:flex items-center rounded-xl transition duration-200 " href="https://wa.me/51971115006?text=Quisiera%20recibir%20apoyo%20legal%20de%20Supera%20Abogados">
					<svg class="icon icon-tabler icon-tabler-brand-whatsapp" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
					<span class="ml-2">Contactanos</span>
				</a>
				<a class="hidden lg:inline-block py-3 2xl:px-6 xl:px-2 lg:px-5 bg-primary-500 hover:bg-primary-400 text-sm text-white font-bold rounded-xl transition duration-200" href="#">Comunidades</a>
			</nav>
			<div class="navbar-menu relative z-50 hidden">
				<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
				<nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-secondary-100   overflow-y-auto">
					<div class="flex items-center mb-8">
						<a class="mr-auto text-3xl font-bold leading-none" href="/">
							<img
						src="./supera-cromo.svg"
						class="h-12 lg:h-20 "
						alt="Supera Logo"
					/>
						</a>
						<a class="navbar-close p-3 ">
							<svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
							</svg>
						</a>
					</div>
					<div>
						<ul>
							<li class="mb-1">
								<a class="flex items-center justify-between w-full py-2 pr-4 pl-3 text-gray-700  hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-blue-50 dark:hover:text-gray-400 lg:dark:hover:bg-transparent dark:border-gray-700" href="/">Inicio</a>
							</li>
							<li class="mb-1">
								<a class="flex items-center justify-between w-full py-2 pr-4 pl-3 text-gray-700  hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-blue-50 dark:hover:text-gray-400 lg:dark:hover:bg-transparent dark:border-gray-700" href="/nosotros">Nosotros</a>
							</li>
							<!-- <li class="mb-1">
								<a class="flex items-center justify-between w-full py-2 pr-4 pl-3 text-gray-700  hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-blue-50 dark:hover:text-gray-400 lg:dark:hover:bg-transparent dark:border-gray-700" href="/blog">Publicaciones</a>
							</li> -->
							<li x-data="{ open: false }" @click.away="open = false" class="relative">
								<button @click="open = !open" class="flex items-center justify-between w-full py-2 pr-4 pl-3 text-gray-700  hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-blue-50 dark:hover:text-gray-400 lg:dark:hover:bg-transparent dark:border-gray-700">
									<span >Servicios</span>
									<svg :class="{ 'transform rotate-180': open }" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 11.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
								</button>
								<div x-show="open" class="absolute z-10 w-500 max-w-xl py-2 mt-2 space-y-2 bg-white rounded-lg shadow-lg dark:bg-gray-800" x-transition:enter="transition transform duration-300 ease-out" x-transition:enter-start="opacity-0 -translate-y-2" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition transform duration-300 ease-in" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 -translate-y-3">
									<a href="/penal" class="block py-2 pl-3 text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:bg-gray-700 pr-20">Penal</a>
									<a href="/civil" class="block py-2 pl-3 text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:bg-gray-700">Civil</a>
									<a href="/laboral" class="block py-2 pl-3 text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:bg-gray-700">Laboral</a>
									<a href="/corporativo" class="block py-2 pl-3 text-gray-700 hover:bg-gray-50 dark:text-gray-400 dark:hover:bg-gray-700">Corporativo</a>
								</div>
							</li>
							<li class="mb-1">
								<a class="flex items-center justify-between w-full py-2 pr-4 pl-3 text-gray-700  hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-blue-50 dark:hover:text-gray-400 lg:dark:hover:bg-transparent dark:border-gray-700" href="/contacto">Contacto</a>
							</li>
						</ul>
					</div>
					<div class="mt-auto">
						<div class="pt-6">
							<a class="px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold bg-gray-50 hover:bg-gray-100 rounded-xl flex justify-center" href="https://wa.me/51971115006?text=Quisiera%20recibir%20apoyo%20legal%20de%20Supera%20Abogados">
								<svg  class="icon icon-tabler icon-tabler-brand-whatsapp" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
								<span class="ml-2">Contactanos</span>
							</a>
							<a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-primary-500 hover:bg-primary-400  rounded-xl" href="#">Comunidades</a>
						</div>
						<p class="my-4 text-xs text-center text-gray-400">
							<span>FrankCairampoma © 2024</span>
						</p>
					</div>
				</nav>
			</div>
		</header>
		
		<div class="mt-16 sm:mt-32 md:mt-32 lg:mt-32 xl:mt-128 "> <!-- Ajusta el valor según la altura de tu header -->
			<slot/>
		</div>
		<BtnWhatsapp />

		<footer class="bg-white shadow dark:bg-secondary-100 ">
			<div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
				<div class="sm:flex sm:items-center sm:justify-between">
					<a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
						<img
							src="./supera-cromo.svg"
							class="h-12"
							alt="Supera Logo"
						/>
					</a>
					<ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
						<li>
							<a href="/penal" class="hover:underline me-4 md:me-6">Penal</a>
						</li>
						<li>
							<a href="/civil" class="hover:underline me-4 md:me-6">Civil</a>
						</li>
						<li>
							<a href="/laboral" class="hover:underline me-4 md:me-6">Laboral</a>
						</li>
						<li>
							<a href="/corporativo" class="hover:underline">Corporativo</a>
						</li>
					</ul>
				</div>
				<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
				<div  
				class="
					justify-between
					text-sm text-texto-primary sm:text-center dark:text-texto-primary flex flex-col sm:flex-row items-center sm:items-center gap-3
				">
				<span class="text-sm text-texto-primary sm:text-center dark:text-texto-primary flex flex-col sm:flex-row items-center sm:items-center gap-3">
					<p class="flex items-center space-x-2 rtl:space-x-reverse gap-2">
						<svg class="icon icon-tabler icon-tabler-phone" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
						971 115 006 - 937 520 137
					</p>
					<p class="flex items-center space-x-2 rtl:space-x-reverse gap-2">
						<svg class="icon icon-tabler icon-tabler-map-pin" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>
						Jr. Arequipa N°1175 - El Tambo - Huancayo
					</p>
					<p class="flex items-center space-x-2 rtl:space-x-reverse gap-2">
						<svg class="icon icon-tabler icon-tabler-mail" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
						empresas.superalegal@gmail.com
					</p>
				</span>
				<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400 mt-3">© 2024 <a href="https://www.linkedin.com/in/fralch" class="hover:underline">FrankCairampoma™</a>. SuperaAbogados.</span>
				
				
				</div>
			</div>
		</footer>


		

		

		
	</body>
</html>
<style>
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh; /* Establece la altura mínima al 100% de la altura del viewport */
	}

	footer {
		margin-top: auto; /* Empuja el pie de página hacia abajo */
	}
</style>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	header {
		background-color: #002E1F;
		z-index: 1000;
	}
	
	
	


</style>
